* {
  padding: 0;
  margin: 0;
}

.App{
  font-family: sans-serif;
  text-align: center;
  display: grid;
  gap: 2%;
  width: 90%;
  max-width: 1000px;
  margin: 35px auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "Perfil Intereses Aprender Expectativas"
    "Hobbies";
}


body {
  background-color: #f2f2f2f2;
}

.Perfil {
  background-color: rgb(133, 133, 250);
  color: rgb(6, 31, 77);
}

.Intereses {
  background-color: rgb(147, 247, 142);
  color: rgb(47, 89, 6);
}
.Aprender {
  background-color: rgb(240, 109, 109);
  color: rgb(107, 6, 26);
}

.Expectativas {
  background-color: rgb(242, 248, 120);
  color: rgb(69, 70, 2);
}

.Hobbies {
  background-color: rgb(245, 136, 227);
  color: darkorchid;
}

div {
  border-radius: 4px;
}

h2{
  margin-bottom: 10%;
  padding: 15px;
}

p {
  padding: 5px;
}
